{{- $image := .Get "image" -}}
{{- $src := printf "/images/%s" $image | relURL -}}
{{- $alt := .Get "alt" -}}
{{- $url := .Get "url" -}}
<figure class="attraction">
    <img src="{{ $src }}" alt="{{ $alt }}" loading="lazy" decoding="async">
    <figcaption class="attraction-caption">
        <h3>{{ if $url }}<a href="{{ $url }}" target="_blank" rel="noopener noreferrer">{{ .Get "title" }}</a>{{ else
            }}{{ .Get "title" }}{{ end }}</h3>
        <p>{{ .Get "description" }}</p>
    </figcaption>
</figure>